/* reset */

* {
	background: transparent;
	border: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.2em;
	outline: none;
	vertical-align: baseline;

	margin: 0;
	padding: 0;
	z-index: 1;
}

/* outer */

body {
	background: #EEE;
	color: #333;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 12px;

	padding: 42px 5px 0 5px;
}

a {
	color: #428BCA;
	text-decoration: none;
}

a:hover, a:active {
	color: #0D76BA;
	text-decoration: underline;
}

/* header */

header {
	background: #004889;
	box-shadow: 0 0 1px 1px #012;
	text-align: center;

	margin-bottom: 5px;
	padding: 5px 0 7px 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

header h1 a {
	color: #FFF;
	font-size: 20px;
}

header h1 a:hover {
	color: #FFF;
	text-decoration: none;
}

/* nav */

header .sf-navbtn {
	position: absolute;
}

nav {
	display: none;

	position: absolute;
}

/* main */

article {
	background: #FFF;
	border-radius: 3px;
	box-shadow: 0 0 1px 1px #D8D8D8;

	margin: 0 auto 5px auto;
	width: 100%;
	max-width: 350px;
}

article .sf-top {
	background: #FFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #333;

	padding: 5px;
}

article .sf-thumb img {
	border-radius: 3px;
	box-shadow: 0 0 1px 1px #CCC;

	width: 100%;
}

article h2 a {
	color: #333;
	font-size: 16px;
	font-weight: bold;
}

article .sf-bottom {
	background: #F8F8F8;
	border-top: 1px solid #E0E0E0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #999;

	padding: 5px;
}

article .sf-profile {
	border-radius: 20px;
	box-shadow: 0 0 1px 1px #333;

	float: left;
	margin-right: 5px;
	width: 40px;
	height: 40px;
}

article .sf-byline {
	margin-bottom: 10px;
}

article .sf-name {
	color: #555;
	font-weight: bold;
}

article .sf-date {
	margin-bottom: 3px;
}
