/* main */

article {
	background: #FFF;
	border-radius: 3px;
	box-shadow: 0 0 1px 1px #CCC;

	margin: 0 auto 5px auto;
	width: 100%;
	max-width: 330px;
}

article .sf-top {
	background: #FFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #333;

	padding: 5px;
}

article .sf-thumb img {
	border-radius: 3px;
	box-shadow: 0 0 1px 1px #CCC;

	width: 100%;
}

article h2 a {
	color: #333;
	font-size: 16px;
	font-weight: bold;
}

article .sf-bottom {
	background: #F8F8F8;
	border-top: 1px solid #CCC;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #999;

	padding: 5px;
}

article .sf-bottom.sf-authorimg {
	min-height: 53px;
}

article .sf-profile {
	border-radius: 20px;
	box-shadow: 0 0 1px 1px #333;

	float: left;
	margin-right: 5px;
	width: 40px;
	height: 40px;
}

article .sf-byline {
	margin-bottom: 10px;
}

article .sf-name {
	color: #555;
	font-weight: bold;
}

article .sf-date {
	margin-bottom: 3px;
}
